<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-redoc.ZPM">
    <Module>
      <Name>iris-redoc</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.redoc.PKG"/>
      <CSPApplication 
        CookiePath="/csp/redoc/" 
        DefaultTimeout="900" 
        DispatchClass="dc.redoc.RedocPage"
        MatchRoles=":${dbrole}" 
        PasswordAuthEnabled="0" 
        Recurse="1" 
        ServeFiles="1" 
        ServeFilesTimeout="3600" 
        UnauthenticatedEnabled="0" 
        Url="/csp/redoc" 
        UseSessionCookie="2"/>
      
    </Module>
    
  </Document>
</Export>